.movieGrid {
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
    max-width: 1200px;
    gap: 20px;

    .noResults {
        margin-top: 100px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.192);
        color: rgb(175, 175, 175);
        font-size: 30px;
    }
}